<div class="bg-white h-100 py-4">

    <div class="position-relative">
        <h2 class="text-center p-3 msnHospTitle connect-primary-border">
            Network Consults Page
        </h2>
        <i class="fas fa-arrow-left position-absolute start-0 top-0 m-3 fs-2 pe-pointer"
            onclick="navigateTo('networkConslt', {}, ['enableNetConsltRolesPage',[]]);"></i>
    </div>      
      
        <div class="row">
          <div class="col-md-6 border p-3">
            <h5 class="fw-semibold mb-3 bg-body-secondary text-center p-2">My Department Consult</h5>
            <table id="ncMyDeptConsltTable" class="table"></table>
          </div>
          <div class="col-md-6">
            <h5 class="fw-semibold mb-3"></h5>
            <table id=""></table>
          </div>
        </div>

</div>