<div class="container-fluid bg-light min-vh-100 py-3">

    <div class="d-flex align-items-center justify-content-center position-relative mb-4">
        <i class="fas fa-arrow-left position-absolute start-0 ms-3 fs-2 cursor-pointer"
            onclick="renderPostHomePage()"></i>

        <h3 class="fw-bold mb-0">Clinical Snippets</h3>
    </div>

    <div class="container mb-4">
        <div class="intro-card text-center p-4">
            <h5 class="mb-2">Test Your Clinical Knowledge</h5>
        </div>
    </div>

    <div class="container">
        <div id="clinicalSnip" class="row g-4">
        </div>
    </div>

</div>