<div class="position-relative text-white" style="min-height: 500px;">
  <i class="fa-arrow-left fas position-absolute start-0 top-0 m-3 fs-2"
    style="z-index: 10; cursor: pointer; pointer-events: auto;" onclick="renderMissionsPage();"></i>

  <div style="background: url('https://s3.amazonaws.com/img.studenthub.in/CMCVConnect_Portal/Pictures/_ec3043ca05a909a7b05cf914d71e6bc5_Pictures.jpg') center center / cover no-repeat;
              opacity: 0.6; position: absolute; top: 0; left: 0;
              height: 100%; width: 100%; z-index: 1;"></div>

  <div class="container h-100 position-relative" style="z-index: 2; max-width: 1500px;">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="row justify-content-center align-items-center text-white w-100">

        <!-- Left Text -->
        <div class="col-md-6 mb-4 mb-md-0 text-md-start" style="margin-top: 80px;">
          <h1 class="fw-bold display-4">Our Library Services</h1>
          <p class="lead" style="line-height: 1.8; word-spacing: 2px; font-weight: 300; font-family: math;">
            Welcome to CMC's E-Library! We offer an extensive collection of digital resources, including academic
            journals, e-books, and various learning materials.
            This selection is designed to support the needs of students, professionals, and researchers in their
            academic, clinical, and research endeavors.
            Dive in and explore!
          </p>
        </div>

        <!-- Right Login Box -->
        <div class="col-md-3 mb-4" style="margin-top: 80px;">
          <div class="bg-white text-dark p-4 px-0 rounded shadow text-center">
            <h5 class="mb-3">If you have access, please login here</h5>
            <img
              src="https://s3.amazonaws.com/img.studenthub.in/CMCVConnect_Portal/Pictures/_94562e09af771a965697738fc1514fe7_Pictures.png"
              class="img-fluid mx-auto d-block w-50 mb-3" alt="Library Access Image">
            <a href="https://app.myloft.xyz/user/login?institute=ckr0hexbsvrcd0927d54m0cbi" class="btn btn-primary w-25"
              target="_blank">Login</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Dodd Library Section -->
<div class="py-4" style="background-color: rgb(255, 232, 203);">
  <div class="container" style="max-width: 1110px;">
    <p class="mb-0 fs-5" style="word-spacing: 2px;">
      <strong class="fs-4">CMC Library</strong><br>
      <br>
      To access free journals and books available in the Dodd Library, please click the link:<br>
      <a href="https://dodd.cmcvellore.ac.in/" target="_blank">https://dodd.cmcvellore.ac.in/</a>
    </p>
  </div>
</div>

<div class="position-relative text-white" style="min-height: 680px;">

  <div style="background: url('https://s3.amazonaws.com/img.studenthub.in/CMCVConnect_Portal/Pictures/_56dd2c06687d44fa93422717f686d21f_Pictures.jpg') center center / cover no-repeat; opacity: 0.6; position: absolute; top: 0; 
    left: 0; height: 100%; width: 100%; z-index: 1;"></div>

  <div class="container h-100 position-relative" style="z-index: 2;">
    <div class="row align-items-center h-100 py-5">

      <!-- Left Text -->
      <div class="col-md-6 p-1" style=" border-radius: 15px; 
                                  background-color: rgba(40, 40, 40, 0.4); backdrop-filter: blur(6px);">
        <h2 class="fw-bold text-center">Subscribed Journals</h2>
        <br>
        <div class="p-3 lead" style="line-height: 1.8; word-spacing: 2px; font-weight: 300;">
          <p>
            To obtain access to subscribed journals, please follow these guidelines:<br><br>
            1. Before submitting a new form, please verify with your Hospital Administrator whether your hospital or
            organization has already been granted access. <br>
            2. To request new access or to renew your existing access, kindly complete the designated short form
            provided.<br>
            <br>
          <p class="text-center" style="color: bisque;">Access will be granted based on institutional affiliation and
            is subject to the approval of the Library Services team.</p>
          </p>
        </div>

      </div>

      <!-- Request Form Panel -->
      <div class="col-md-6">
        <div class="bg-white text-dark p-4 rounded shadow">
          <h5 class="text-center mb-3">If you don't have access, please fill the form here</h5>
          <div class="overflow-auto p-3" style="max-height: 450px;">
            <div id="missionLibraryAccess" class="display" style="width: 100%;"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</div>