{% import 'cards.html' as cardComponent %}
{% block content %}
<!-- <main class="bg-primarycolor"> -->
    <div class="container-fluid pt-3 z-1">
    {% for row, cards in missionsCards | groupby('row') %}
    <div class="row" data-row="row-{{ row }}">
      {% set groupedColumns = cards | groupby('column') %}
      {% set totalColumns = groupedColumns | length %}
      {% set widthClass = 'col-md-4' if totalColumns > 1 else 'col-md-12' %}
      {% for column, colCards in cards | groupby('column') %}
      <div class="col-12 mb-0 {{widthClass}}" data-column="col-{{ column }}">
        {% for card in colCards %}
        {% set bgClass = 'card shadow bg-opacity-10 overflow-hidden' %}
        <div class="col-12 mb-2 mb-md-4 {{ card.cardWidth }}" data-row-col="card-row{{ row }}-column-{{ column }}">
            {% if card.type == 'subCards' %}
            {{cardComponent.subCardComponent(card.data)}}
            {% elseif card.type === 'cmcOrg' %}
            {{cardComponent.orgCard(card.data,card.cardClass)}}
            {% elseif card.type === 'dualCards' %}
            {{cardComponent.dualCard(card.data)}}
          {% else %}
          {{cardComponent.baseCardComponent(card.type, card.heading, card.data, card.redirect, bgClass, card.icon)}}
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
<!-- </main> -->
{% endblock %}