<div
    class=" w-100 h-100 d-flex justify-content-center position-relative z-3 py-2 bg-dark bg-opacity-50 overflow-x-hidden overflow-y-auto">
    <div class="modal fade show d-block bg-dark bg-opacity-50">
        <div class="modal-dialog">
            <div class="modal-content">
                ${data}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>